In [1]:
import pandas as pd
import glob

In [2]:
!ls ../data/

delhi_merged.csv
historicalweatherdataforindiancities
time-series-air-quality-data-of-india-2010-2023

In [3]:
dataset1 = '../data/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/'
dataset2 = '../data/time-series-air-quality-data-of-india-2010-2023/'

In [4]:
files_in_dataset1 = glob.glob(f'{dataset1}*')
files_in_dataset2 = glob.glob(f'{dataset2}*')

### For our analysis, we will only take the metro cities which are Delhi NCR, Mumbai, Bangalore and Chennai

In [6]:
selected_files_in_dataset1 = ['Delhi_NCR_1990_2022_Safdarjung.csv','Mumbai_1990_2022_Santacruz.csv','Chennai_1990_2022_Madras.csv', 'Bangalore_1990_2022_BangaloreCity.csv', 'Lucknow_1990_2022.csv', 'Rajasthan_1990_2022_Jodhpur.csv']

In [7]:
air_monitoring_stations = pd.read_csv(f'{dataset2}/stations_info.csv')

In [8]:
air_monitoring_stations['city'].unique()

array(['Tirupati', 'Vijayawada', 'Visakhapatnam', 'Rajamahendravaram',
       'Amaravati', 'Anantapur', 'Chittoor', 'Kadapa', 'Naharlagun',
       'Guwahati', 'Sivasagar', 'Nalbari', 'Byrnihat', 'Silchar',
       'Nagaon', 'Patna', 'Muzaffarpur', 'Gaya', 'Hajipur', 'Rajgir',
       'Bihar Sharif', 'Motihari', 'Bettiah', 'Darbhanga', 'Sasaram',
       'Munger', 'Chhapra', 'Bhagalpur', 'Aurangabad', 'Manguraha',
       'Purnia', 'Buxar', 'Saharsa', 'Kishanganj', 'Araria', 'Siwan',
       'Katihar', 'Arrah', 'Samastipur', 'Begusarai', 'Bilaspur',
       'Bhilai', 'Korba', 'Raipur', 'Tumidih', 'Kunjemura', 'Milupara',
       'Chhal', 'Chandigarh', 'Delhi', 'Ahmedabad', 'Ankleshwar', 'Vapi',
       'Vatva', 'Gandhinagar', 'Nandesari', 'Surat', 'Baddi', 'Faridabad',
       'Gurugram', 'Panchkula', 'Rohtak', 'Manesar', 'Sonipat', 'Bhiwani',
       'Jind', 'Dharuhera', 'Bahadurgarh', 'Yamuna Nagar', 'Ballabgarh',
       'Ambala', 'Kurukshetra', 'Panipat', 'Fatehabad', 'Mandikhera',
       'Karnal', 'Sirsa', 'Hisar', 'Narnaul', 'Kaithal', 'Palwal',
       'Charkhi Dadri', 'Jorapokhar', 'Dhanbad', 'Srinagar', 'Bengaluru',
       'Hubballi', 'Kolar', 'Chikkaballapur', 'Kalaburagi', 'Mysuru',
       'Chamarajanagar', 'Ramanagara', 'Yadgir', 'Chikkamagaluru',
       'Shivamogga', 'Vijayapura', 'Bagalkot', 'Madikeri', 'Koppal',
       'Raichur', 'Mangalore', 'Bidar', 'Gadag', 'Davanagere', 'Udupi',
       'Hassan', 'Haveri', 'Belgaum', 'Dharwad', 'Tumakuru',
       'Thiruvananthapuram', 'Eloor', 'Kochi', 'Kozhikode', 'Ernakulam',
       'Kollam', 'Kannur', 'Thrissur', 'Pune', 'Mumbai', 'Navi Mumbai',
       'Chandrapur', 'Solapur', 'Nagpur', 'Nashik', 'Thane', 'Kalyan',
       'Shillong', 'Imphal', 'Ujjain', 'Dewas', 'Pithampur', 'Singrauli',
       'Mandideep', 'Satna', 'Ratlam', 'Damoh', 'Maihar', 'Katni',
       'Indore', 'Bhopal', 'Jabalpur', 'Sagar', 'Gwalior', 'Aizawl',
       'Kohima', 'Brajrajnagar', 'Talcher', 'Suakati', 'Nayagarh',
       'Baripada', 'Bileipada', 'Tensa', 'Rairangpur', 'Keonjhar',
       'Rourkela', 'Amritsar', 'Mandi Gobindgarh', 'Ludhiana',
       'Jalandhar', 'Patiala', 'Khanna', 'Rupnagar', 'Bathinda',
       'Puducherry', 'Jodhpur', 'Jaipur', 'Bhiwadi', 'Pali', 'Alwar',
       'Ajmer', 'Kota', 'Udaipur', 'Jaisalmer', 'Dausa', 'Banswara',
       'Hanumangarh', 'Sirohi', 'Bikaner', 'Barmer', 'Bharatpur', 'Churu',
       'Dholpur', 'Sawai Madhopur', 'Chittorgarh', 'Jhunjhunu',
       'Pratapgarh', 'Jhalawar', 'Karauli', 'Sri Ganganagar', 'Sikar',
       'Rajsamand', 'Gangtok', 'Hyderabad', 'Chennai', 'Coimbatore',
       'Thoothukudi', 'Gummidipoondi', 'Hosur', 'Tirupur', 'Chengalpattu',
       'Vellore', 'Salem', 'Ramanathapuram', 'Dindigul', 'Ooty',
       'Kanchipuram', 'Ariyalur', 'Cuddalore', 'Palkalaiperur',
       'Agartala', 'Dehradun', 'Kashipur', 'Rishikesh', 'Lucknow',
       'Varanasi', 'Agra', 'Kanpur', 'Noida', 'Ghaziabad', 'Moradabad',
       'Greater Noida', 'Bulandshahr', 'Muzaffarnagar', 'Baghpat',
       'Hapur', 'Meerut', 'Gorakhpur', 'Prayagraj', 'Firozabad',
       'Vrindavan', 'Jhansi', 'Bareilly', 'Khurja', 'Haldia', 'Kolkata',
       'Howrah', 'Durgapur', 'Asansol', 'Siliguri'], dtype=object)

In [9]:
selected_cities = ['Delhi', 'Mumbai', 'Chennai','Bengaluru', 'Jodhpur', 'Lucknow']

In [10]:
air_monitoring_stations = air_monitoring_stations[air_monitoring_stations['city'].isin(selected_cities)]
air_monitoring_stations = air_monitoring_stations.reset_index()

In [11]:
air_monitoring_stations[air_monitoring_stations['city'].isin(['Delhi'])]

,index,file_name,state,city,agency,station_location,start_month,start_month_num,start_year
0,72,DL001,Delhi,Delhi,CPCB,"ITO, Delhi",January,1,2010
1,73,DL002,Delhi,Delhi,CPCB,"Shadipur, Delhi",January,1,2010
2,74,DL003,Delhi,Delhi,CPCB,"Sirifort, Delhi",January,1,2010
3,75,DL004,Delhi,Delhi,CPCB,"NSIT Dwarka, Delhi",January,1,2010
4,76,DL005,Delhi,Delhi,CPCB,"IHBAS, Dilshad Garden, Delhi",January,1,2010
5,77,DL006,Delhi,Delhi,CPCB,"DTU, Delhi",January,1,2010
6,78,DL007,Delhi,Delhi,IMD,"Burari Crossing, Delhi",March,3,2010
7,79,DL008,Delhi,Delhi,IMD,"North Campus, DU, Delhi",March,3,2010
8,80,DL009,Delhi,Delhi,IMD,"Pusa, Delhi",May,5,2010
9,81,DL010,Delhi,Delhi,IMD,"CRRI Mathura Road, Delhi",August,8,2010
10,82,DL011,Delhi,Delhi,IMD,"Aya Nagar, Delhi",September,9,2010
11,83,DL012,Delhi,Delhi,DPCC,"Mandir Marg, Delhi",May,5,2011
12,84,DL013,Delhi,Delhi,DPCC,"R K Puram, Delhi",May,5,2011
13,85,DL014,Delhi,Delhi,DPCC,"Punjabi Bagh, Delhi",June,6,2011
14,86,DL015,Delhi,Delhi,DPCC,"Anand Vihar, Delhi",August,8,2012
15,87,DL016,Delhi,Delhi,IMD,"IGI Airport (T3), Delhi",December,12,2013
16,88,DL017,Delhi,Delhi,IMD,"Lodhi Road, Delhi",January,1,2014
17,89,DL018,Delhi,Delhi,CPCB,"East Arjun Nagar, Delhi",November,11,2017
18,90,DL019,Delhi,Delhi,DPCC,"Okhla Phase 2, Delhi",February,2,2018
19,91,DL020,Delhi,Delhi,DPCC,"Wazirpur, Delhi",February,2,2018
20,92,DL021,Delhi,Delhi,DPCC,"Najafgarh, Delhi",February,2,2018
21,93,DL022,Delhi,Delhi,DPCC,"Narela, Delhi",February,2,2018
22,94,DL023,Delhi,Delhi,DPCC,"Sonia Vihar, Delhi",February,2,2018
23,95,DL024,Delhi,Delhi,DPCC,"Rohini, Delhi",February,2,2018
24,96,DL025,Delhi,Delhi,DPCC,"Nehru Nagar, Delhi",February,2,2018
25,97,DL026,Delhi,Delhi,DPCC,"Vivek Vihar, Delhi",February,2,2018
26,98,DL027,Delhi,Delhi,DPCC,"Patparganj, Delhi",February,2,2018
27,99,DL028,Delhi,Delhi,DPCC,"Dr. Karni Singh Shooting Range, Delhi",March,3,2018
28,100,DL029,Delhi,Delhi,DPCC,"Major Dhyan Chand National Stadium, Delhi",March,3,2018
29,101,DL030,Delhi,Delhi,DPCC,"Dwarka Sector 8, Delhi",March,3,2018
30,102,DL031,Delhi,Delhi,DPCC,"Ashok Vihar, Delhi",March,3,2018
31,103,DL032,Delhi,Delhi,DPCC,"Jawaharlal Nehru Stadium, Delhi",March,3,2018
32,104,DL033,Delhi,Delhi,DPCC,"Jahangirpuri, Delhi",March,3,2018
33,105,DL034,Delhi,Delhi,DPCC,"Sri Aurobindo Marg, Delhi",July,7,2018
34,106,DL035,Delhi,Delhi,DPCC,"Bawana, Delhi",July,7,2018
35,107,DL036,Delhi,Delhi,DPCC,"Mundka, Delhi",July,7,2018
36,108,DL037,Delhi,Delhi,DPCC,"Pusa, Delhi",July,7,2018
37,109,DL038,Delhi,Delhi,DPCC,"Alipur, Delhi",November,11,2018
38,110,DL039,Delhi,Delhi,IITM,"Lodhi Road, Delhi",November,11,2020
39,111,DL040,Delhi,Delhi,IITM,"Chandni Chowk, Delhi",November,11,2020

In [12]:
air_monitoring_stations[air_monitoring_stations['city'].isin(['Mumbai'])]

,index,file_name,state,city,agency,station_location,start_month,start_month_num,start_year
52,212,MH002,Maharashtra,Mumbai,MPCB,"Bandra, Mumbai",January,1,2010
53,223,MH013,Maharashtra,Mumbai,MPCB,"Colaba, Mumbai",June,6,2019
54,224,MH014,Maharashtra,Mumbai,MPCB,"Worli, Mumbai",June,6,2019
55,225,MH015,Maharashtra,Mumbai,MPCB,"Sion, Mumbai",June,6,2019
56,226,MH016,Maharashtra,Mumbai,MPCB,"Vile Parle West, Mumbai",June,6,2019
57,227,MH017,Maharashtra,Mumbai,MPCB,"Borivali East, Mumbai",June,6,2019
58,228,MH018,Maharashtra,Mumbai,MPCB,"Chhatrapati Shivaji Intl. Airport (T2), Mumbai",June,6,2019
59,229,MH019,Maharashtra,Mumbai,MPCB,"Kurla, Mumbai",June,6,2019
60,230,MH020,Maharashtra,Mumbai,MPCB,"Vasai West, Mumbai",June,6,2019
61,231,MH021,Maharashtra,Mumbai,MPCB,"Powai, Mumbai",June,6,2019
62,232,MH022,Maharashtra,Mumbai,IITM,"Navy Nagar Colaba, Mumbai",November,11,2020
63,233,MH023,Maharashtra,Mumbai,IITM,"Malad West, Mumbai",November,11,2020
64,235,MH025,Maharashtra,Mumbai,IITM,"Chakala Andheri East, Mumbai",November,11,2020
65,236,MH026,Maharashtra,Mumbai,IITM,"Bandra Kurla Complex, Mumbai",November,11,2020
66,239,MH029,Maharashtra,Mumbai,IITM,"Mazgaon, Mumbai",November,11,2020
67,243,MH033,Maharashtra,Mumbai,IITM,"Deonar, Mumbai",November,11,2020
68,244,MH034,Maharashtra,Mumbai,IITM,"Borivali East, Mumbai",November,11,2020
69,245,MH035,Maharashtra,Mumbai,IITM,"Khindipada Bhandup West, Mumbai",December,12,2020
70,246,MH036,Maharashtra,Mumbai,MPCB,"Kandivali East, Mumbai",December,12,2020
71,247,MH037,Maharashtra,Mumbai,MPCB,"Mulund West, Mumbai",December,12,2020
72,249,MH039,Maharashtra,Mumbai,IITM,"Siddharth Nagar Worli, Mumbai",January,1,2021

In [13]:
air_monitoring_stations[air_monitoring_stations['city'].isin(['Chennai'])]

,index,file_name,state,city,agency,station_location,start_month,start_month_num,start_year
76,351,TN001,Tamil Nadu,Chennai,CPCB,"Alandur Bus Depot, Chennai",January,1,2010
77,352,TN002,Tamil Nadu,Chennai,CPCB,"Manali, Chennai",January,1,2010
78,353,TN003,Tamil Nadu,Chennai,CPCB,"Velachery Res. Area, Chennai",January,1,2010
79,354,TN004,Tamil Nadu,Chennai,TNPCB,"Manali Village, Chennai",March,3,2019
80,356,TN006,Tamil Nadu,Chennai,TNPCB,"Arumbakkam, Chennai",November,11,2020
81,358,TN008,Tamil Nadu,Chennai,TNPCB,"Royapuram, Chennai",November,11,2020
82,359,TN009,Tamil Nadu,Chennai,TNPCB,"Kodungaiyur, Chennai",November,11,2020
83,360,TN010,Tamil Nadu,Chennai,TNPCB,"Perungudi, Chennai",December,12,2020
84,365,TN015,Tamil Nadu,Chennai,TNPCB,"Gandhi Nagar_Ennore, Chennai",August,8,2022

In [14]:
air_monitoring_stations[air_monitoring_stations['city'].isin(['Bengaluru'])]

,index,file_name,state,city,agency,station_location,start_month,start_month_num,start_year
40,163,KA001,Karnataka,Bengaluru,CPCB,"BTM Layout, Bengaluru",January,1,2010
41,164,KA002,Karnataka,Bengaluru,CPCB,"BWSSB Kadabesanahalli, Bengaluru",January,1,2010
42,165,KA003,Karnataka,Bengaluru,CPCB,"Peenya, Bengaluru",January,1,2010
43,167,KA005,Karnataka,Bengaluru,KSPCB,"City Railway Station, Bengaluru",December,12,2015
44,168,KA006,Karnataka,Bengaluru,KSPCB,"Sanegurava Halli, Bengaluru",December,12,2015
45,169,KA007,Karnataka,Bengaluru,KSPCB,"Silk Board, Bengaluru",June,6,2018
46,170,KA008,Karnataka,Bengaluru,KSPCB,"Hebbal, Bengaluru",June,6,2018
47,172,KA010,Karnataka,Bengaluru,KSPCB,"Bapuji Nagar, Bengaluru",June,6,2018
48,174,KA012,Karnataka,Bengaluru,KSPCB,"Jayanagar 5th Block, Bengaluru",June,6,2018
49,176,KA014,Karnataka,Bengaluru,KSPCB,"Hombegowda Nagar, Bengaluru",July,7,2018
50,198,KA036,Karnataka,Bengaluru,KSPCB,"RVCE Mailasandra, Bengaluru",December,12,2022
51,201,KA039,Karnataka,Bengaluru,KSPCB,"Shivapura_Peenya, Bengaluru",February,2,2023

In [15]:
air_monitoring_stations[air_monitoring_stations['city'].isin(['Lucknow'])]

,index,file_name,state,city,agency,station_location,start_month,start_month_num,start_year
85,382,UP001,Uttar Pradesh,Lucknow,CPCB,"Talkatora District Industries Center, Lucknow",January,1,2010
86,383,UP002,Uttar Pradesh,Lucknow,CPCB,"Kendriya Vidyalaya, Lucknow",January,1,2010
87,387,UP006,Uttar Pradesh,Lucknow,CPCB,"Lalbagh, Lucknow",November,11,2010
88,392,UP011,Uttar Pradesh,Lucknow,UPPCB,"Nishant Ganj, Lucknow",December,12,2017
89,405,UP024,Uttar Pradesh,Lucknow,UPPCB,"Gomti Nagar, Lucknow",August,8,2019
90,416,UP035,Uttar Pradesh,Lucknow,UPPCB,"B R Ambedkar University, Lucknow",June,6,2021
91,420,UP039,Uttar Pradesh,Lucknow,UPPCB,"Kukrail Picnic Spot 1, Lucknow",July,7,2021

In [16]:
air_monitoring_stations[air_monitoring_stations['city'].isin(['Jodhpur'])]

,index,file_name,state,city,agency,station_location,start_month,start_month_num,start_year
73,301,RJ001,Rajasthan,Jodhpur,RSPCB,"Collectorate, Jodhpur",December,12,2015
74,314,RJ014,Rajasthan,Jodhpur,RSPCB,"Samrat Ashok Udhyan, Jodhpur",February,2,2023
75,328,RJ028,Rajasthan,Jodhpur,RSPCB,"Jhalamand, Jodhpur",March,3,2023

### Based on the geo location and the availability of the data we have selected some data files that we will study.

In [17]:
# For the nomenclature, 
# delhi1 means data of city delhi from data source 1
# and delhi2 means data of city delhi from data source 2

In [18]:
delhi1 = pd.read_csv(f'{dataset1}Delhi_NCR_1990_2022_Safdarjung.csv')
mumbai1 = pd.read_csv(f'{dataset1}Mumbai_1990_2022_Santacruz.csv')
chennai1 = pd.read_csv(f'{dataset1}Chennai_1990_2022_Madras.csv')
bangalore1 = pd.read_csv(f'{dataset1}Bangalore_1990_2022_BangaloreCity.csv')
lucknow1 = pd.read_csv(f'{dataset1}Lucknow_1990_2022.csv')
jodhpur1 = pd.read_csv(f'{dataset1}Rajasthan_1990_2022_Jodhpur.csv')

In [19]:
delhi2 = pd.read_csv(f'{dataset2}DL001.csv')
mumbai2 = pd.read_csv(f'{dataset2}MH002.csv')
chennai2 = pd.read_csv(f'{dataset2}TN001.csv')
bangalore2 = pd.read_csv(f'{dataset2}KA001.csv')
lucknow2 = pd.read_csv(f'{dataset2}UP001.csv')
jodhpur2 = pd.read_csv(f'{dataset2}RJ001.csv')

In [20]:
# Filtering data to match date and time

In [21]:
delhi1['time'] = pd.to_datetime(delhi1['time'], format='%d-%m-%Y')
delhi1 = delhi1[delhi1['time'] >= '01-01-2010'].reset_index(drop=True)
delhi1 = delhi1.rename(columns={'time':'date'})

#same for mumbai
mumbai1['time'] = pd.to_datetime(mumbai1['time'], format='%d-%m-%Y')
mumbai1 = mumbai1[mumbai1['time'] >= '01-01-2010'].reset_index(drop=True)
mumbai1 = mumbai1.rename(columns={'time':'date'})

#same for chennai
chennai1['time'] = pd.to_datetime(chennai1['time'], format='%d-%m-%Y')
chennai1 = chennai1[chennai1['time'] >= '01-01-2010'].reset_index(drop=True)
chennai1 = chennai1.rename(columns={'time':'date'})

#same for bangalore
bangalore1['time'] = pd.to_datetime(bangalore1['time'], format='%d-%m-%Y')
bangalore1 = bangalore1[bangalore1['time'] >= '01-01-2010'].reset_index(drop=True)
bangalore1 = bangalore1.rename(columns={'time':'date'})

#same for lucknow
lucknow1['time'] = pd.to_datetime(lucknow1['time'], format='%d-%m-%Y')
lucknow1 = lucknow1[lucknow1['time'] >= '01-01-2010'].reset_index(drop=True)
lucknow1 = lucknow1.rename(columns={'time':'date'})

#same for mumbai
jodhpur1['time'] = pd.to_datetime(jodhpur1['time'], format='%d-%m-%Y')
jodhpur1 = jodhpur1[jodhpur1['time'] >= '01-12-2015'].reset_index(drop=True)
jodhpur1 = jodhpur1.rename(columns={'time':'date'})

In [22]:
delhi2 = delhi2.drop('To Date', axis=1)
mumbai2 = mumbai2.drop('To Date', axis=1)
chennai2 = chennai2.drop('To Date', axis=1)
bangalore2 = bangalore2.drop('To Date', axis=1)
lucknow2 = lucknow2.drop('To Date', axis=1)
jodhpur2 = jodhpur2.drop('To Date', axis=1)

In [23]:
delhi2['From Date'] = pd.to_datetime(delhi2['From Date'])
delhi2['date'] = delhi2['From Date'].dt.date
delhi2 = delhi2.groupby('date').mean().reset_index()
delhi2 = delhi2.drop('From Date',axis=1)
delhi1['date'] = pd.to_datetime(delhi1['date'])
delhi2['date'] = pd.to_datetime(delhi2['date'])
delhi_merged = pd.merge(delhi1, delhi2, on='date')

mumbai2['From Date'] = pd.to_datetime(mumbai2['From Date'])
mumbai2['date'] = mumbai2['From Date'].dt.date
mumbai2 = mumbai2.groupby('date').mean().reset_index()
mumbai2 = mumbai2.drop('From Date',axis=1)
mumbai1['date'] = pd.to_datetime(mumbai1['date'])
mumbai2['date'] = pd.to_datetime(mumbai2['date'])
mumbai_merged = pd.merge(mumbai1, mumbai2, on='date')

chennai2['From Date'] = pd.to_datetime(chennai2['From Date'])
chennai2['date'] = chennai2['From Date'].dt.date
chennai2 = chennai2.groupby('date').mean().reset_index()
chennai2 = chennai2.drop('From Date',axis=1)
chennai1['date'] = pd.to_datetime(chennai1['date'])
chennai2['date'] = pd.to_datetime(chennai2['date'])
chennai_merged = pd.merge(chennai1, chennai2, on='date')

bangalore2['From Date'] = pd.to_datetime(bangalore2['From Date'])
bangalore2['date'] = bangalore2['From Date'].dt.date
bangalore2 = bangalore2.groupby('date').mean().reset_index()
bangalore2 = bangalore2.drop('From Date',axis=1)
bangalore1['date'] = pd.to_datetime(bangalore1['date'])
bangalore2['date'] = pd.to_datetime(bangalore2['date'])
bangalore_merged = pd.merge(bangalore1, bangalore2, on='date')

lucknow2['From Date'] = pd.to_datetime(lucknow2['From Date'])
lucknow2['date'] = lucknow2['From Date'].dt.date
lucknow2 = lucknow2.groupby('date').mean().reset_index()
lucknow2 = lucknow2.drop('From Date',axis=1)
lucknow1['date'] = pd.to_datetime(lucknow1['date'])
lucknow2['date'] = pd.to_datetime(lucknow2['date'])
lucknow_merged = pd.merge(lucknow1, lucknow2, on='date')


jodhpur2['From Date'] = pd.to_datetime(jodhpur2['From Date'])
jodhpur2['date'] = jodhpur2['From Date'].dt.date
jodhpur2 = jodhpur2.groupby('date').mean().reset_index()
jodhpur2 = jodhpur2.drop('From Date',axis=1)
jodhpur1['date'] = pd.to_datetime(jodhpur1['date'])
jodhpur2['date'] = pd.to_datetime(jodhpur2['date'])
jodhpur_merged = pd.merge(jodhpur1, jodhpur2, on='date')

In [24]:
delhi_merged

,date,tavg,tmin,tmax,prcp,PM2.5 (ug/m3),PM10 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),Benzene (ug/m3)
0,2010-01-01,13.8,6.6,21.9,NaN,NaN,NaN,21.225833,37.218750,37.052083,NaN,4.242500,4.362222,17.812500,NaN
1,2010-01-02,11.3,9.0,15.0,NaN,NaN,NaN,34.860000,46.104167,52.739583,NaN,2.301250,5.026667,9.645833,NaN
2,2010-01-03,12.3,9.7,15.3,NaN,NaN,NaN,15.107917,26.927083,26.572917,NaN,1.790417,7.094706,11.906250,NaN
3,2010-01-04,11.4,9.6,14.0,NaN,NaN,NaN,5.665417,8.898696,9.197917,NaN,0.480000,3.017917,17.156250,NaN
4,2010-01-05,11.9,NaN,18.1,NaN,NaN,NaN,50.411667,52.614583,68.909583,NaN,1.640000,8.861250,25.552083,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4584,2022-07-21,28.6,26.8,30.6,21.2,59.770833,135.774167,16.209167,26.273333,16.437917,36.410000,18.515833,1.035000,41.148333,2.941667
4585,2022-07-22,29.3,27.0,32.9,0.3,57.260417,98.184167,15.189167,24.991667,15.520833,36.015000,21.975833,1.114167,40.730833,8.111667
4586,2022-07-23,30.1,25.5,34.9,8.9,33.621667,58.607500,16.509583,26.527917,16.777083,36.725833,20.244583,0.953333,40.536190,9.792917
4587,2022-07-24,30.6,27.1,35.7,0.0,28.697917,53.309167,18.496667,29.073333,18.572917,37.055417,18.724583,0.925000,40.299583,4.075833
4588,2022-07-25,30.7,26.8,35.7,0.0,27.274167,49.100833,17.948750,28.413333,17.941250,36.884167,20.291667,0.897917,40.365652,1.622083

In [25]:
mumbai_merged

,date,tavg,tmin,tmax,prcp,PM2.5 (ug/m3),PM10 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),...,RH (%),WS (m/s),WD (deg),SR (W/mt2),BP (mmHg),VWS (m/s),RF (mm),CH4 (),Xylene (ug/m3),AT (degree C)
0,2010-01-01,27.2,19.4,33.4,NaN,NaN,NaN,NaN,NaN,148.227500,...,NaN,NaN,NaN,0.0,1012.355833,0.0,NaN,NaN,NaN,26.553333
1,2010-01-02,28.2,21.0,34.5,NaN,NaN,NaN,NaN,NaN,192.181667,...,NaN,NaN,NaN,0.0,1013.475833,0.0,NaN,NaN,NaN,25.915833
2,2010-01-03,26.4,NaN,31.5,NaN,NaN,NaN,NaN,NaN,44.941250,...,NaN,NaN,NaN,0.0,1015.308750,0.0,NaN,NaN,NaN,26.087500
3,2010-01-04,24.9,NaN,29.2,NaN,NaN,NaN,NaN,NaN,63.799583,...,NaN,NaN,NaN,0.0,1014.712917,0.0,NaN,NaN,NaN,25.217500
4,2010-01-05,25.1,18.5,30.5,NaN,NaN,NaN,NaN,NaN,91.098750,...,NaN,NaN,NaN,0.0,1012.249583,0.0,NaN,NaN,NaN,25.025417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4584,2022-07-21,27.6,25.6,30.5,10.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4585,2022-07-22,28.3,26.0,30.5,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4586,2022-07-23,28.2,25.8,31.3,5.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4587,2022-07-24,28.1,25.6,30.4,7.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4588,2022-07-25,28.3,25.1,30.2,7.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
delhi_merged.to_csv('../data/delhi_merged.csv',index=False)
mumbai_merged.to_csv('../data/mumbai_merged.csv',index=False)
chennai_merged.to_csv('../data/chennai_merged.csv',index=False)
bangalore_merged.to_csv('../data/bangalore_merged.csv',index=False)
lucknow_merged.to_csv('../data/lucknow_merged.csv',index=False)
jodhpur_merged.to_csv('../data/jodhpur_merged.csv',index=False)